<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="venders/jQuery.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>
    <title>To Do App</title>
  </head>
  <body>
    <h1>TO DO LIST</h1>
    <div id="input-area">
      <input type="text" id="add-item" placeholder=" enter a new item">
      <div type="button" id="add-item-button"></div>
    </div>

    <div class='edit-input'>
      <input type="text" id="edit-item" placeholder="edit your input here">
      <p>( press ENTER to commit edit )</p>
    </div>


    <div id="todoList"> </div>
    <div id="ranking-note">
      <p>add ranking</p>
      <img src="/img/ranking.png" alt="ranking">
    </div>
  </body>
</html>
